@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}
.list:hover button{
    @apply opacity-100
}
.green {
  @apply my-5 relative shadow-xl border-l-4 border-green-700 px-4 py-2 flex  justify-between cursor-pointer
}
.red {
  @apply my-5 relative shadow-xl border-l-4 border-red-600 px-4 py-2 flex  justify-between cursor-pointer
}
.btn {
  @apply opacity-0 bg-red-600 px-1 text-xs text-white rounded-full absolute -top-2 -right-2 cursor-pointer
}
#trans::-webkit-scrollbar {
  width: 6px;
}

#trans::-webkit-scrollbar-track {
  background: transparent;
}

#trans::-webkit-scrollbar-thumb {
  background: #94a3b8;   /* slate-400 */
  border-radius: 10px;
}

#trans::-webkit-scrollbar-thumb:hover {
  background: #64748b;   /* slate-500 */
}
